.sidetabs {
    width: 25%;
    float: left;
    margin-top: 6px;

    @media screen and (max-width: 768px){
        display: none;
    }

    &-item{
        padding: 20px 15px;
        font-weight: 400;
        cursor: pointer;
        font-size: 16px;

        &.active{
            background: #e7e7e7;
            font-weight: 500;
        }
    }

    & + .sidetabs-content {
        width: 100%;

        @media screen and (min-width: 769px){
            width: 75%;
            float: right;
            padding-left: 40px;
            border-left: 1px solid #e7e7e7;

            .article-list{
                display: none;

                &.active{
                    display: block;
                }
            }
        }

        .article-title{
            position: relative;
            display: block;
            padding-right: 20px;
            white-space: initial;

            &:after{
                content: '';
                position: absolute;
                right: 15px;
                top: 50%;
                transform: translateY(-50%);
                width: 16px;
                height: 16px;
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
                background-image: url("http://farmarcas.com.br/radar/imagens_freshdesk/icon_plus.png");

                @media screen and (max-width: 768px){
                    right: 0;
                }
            }
        }

        .article-content{
            white-space: normal;
            margin: 0;
            font-weight: 400;
            color: #676767;
            max-height: 0px;
            overflow: hidden;
            transition: max-height .8s;
        }

        li.active{
            .article-title:after{
                background-image: url("http://farmarcas.com.br/radar/imagens_freshdesk/icon_less.png");
            }

            .article-content{
                max-height: 600px;
                margin: 10px 20px;
            }
        }
    }
}
