#solutions-index-home{
    display: flex;
    flex-wrap: wrap;

    .cs-s{
        padding: 15px;
        flex: 0 0 100%;
        margin: 0;
        max-width: 100%;
        display: none;

        @media screen and (max-width: 768px){
            padding: 15px 5px;
        }

        &:nth-child(-n+4) {
            display: block;
        }

        &:nth-child(n+4) {
            h3{
                width: initial;
                display: inline-block;
                margin: 0 auto;
            }
        }

        &:nth-child(-n+3) {
            .solution{
                min-height: 250px;
            }

            @media screen and (min-width: 769px){
                max-width: 33%;
                flex: 0 0 33%;
            }
        }

        .solution{
            border-radius: 8px;
            display: flex;
            align-items: flex-end;
            padding: 20px;
            justify-content: flex-start;
            min-height: 100px;
            background-size: cover;
            background-position: center;

            &.category_36000115330{
                background-image: url(http://farmarcas.com.br/radar/imagens_freshdesk/card_1_bg.png);
            }

            &.category_36000116002{
                background-image: url(http://farmarcas.com.br/radar/imagens_freshdesk/card_2_bg.png);
            }

            &.category_36000116024{
                background-image: url(http://farmarcas.com.br/radar/imagens_freshdesk/card_3_bg.png);
            }

            &.category_36000116028{
                background-image: url(http://farmarcas.com.br/radar/imagens_freshdesk/card_4_bg.png);
            }

            &:hover .heading:after{ filter: invert(100%) brightness(0.5); }
        }

        h3 a {
            color: white;
            font-weight: 100;
            font-size: 25px;
        }
    }
}

.principais-conteudos{
    background-color: #fff;

    &-header{
        padding: 10px 15px;

        h3{
            color: #0b5078;
            font-size: 25px;
        }
    }

    &-list{
        min-height: 430px;
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: wrap;
    }

    &-item{
        border-radius: 8px;
        background-color: #e7e7e7;
        min-height: 100%;
        min-width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        font-weight: 700;
        padding: 20px;
        font-size: 17px;
        color: black;
        border-bottom: 5px solid transparent;
        transition: all .3s;

        &:hover{ color: black; }
    }

    &-item-wrapper{
        flex: 0 0 25%;
        max-width: 25%;
        padding: 13px 13px 8px 13px;
        min-height: 100%;
        min-height: 100px;
        display: flex;
        position: relative;

        @media screen and (max-width: 768px){
            padding: 8px 5px;
        }

        &:after {
            content: '';
            width: 7px;
            height: 12px;
            background: url(http://farmarcas.com.br/radar/imagens_freshdesk/icon-arrow-right.png);
            position: absolute;
            bottom: 25px;
            right: 25px;
            filter: grayscale(100%);
            transition: all .3s;
        }

        &:hover{
            .principais-conteudos-item{ border-bottom-color: #d6d6d6; }
            &:after{ filter: none; }
        }

        @media screen and (max-width: 768px){
            flex: 0 0 100%;
            max-width: 100%;
        }

        @media screen and (min-width: 769px) and (max-width: 1024px){
            flex: 0 0 33%;
            max-width: 33%;
        }
    }
}