.fc-solution-category{
    .cs-g.article-list{
        width: 100%;

        ul{
            background: #ececec;
            border-radius: 8px;
            padding: 15px 20px;

            li {
                padding: 15px 40px;
                border-bottom: 1px solid #ccc;
                margin-bottom: 0;

                &:last-child{ border-bottom: none; }
                &:before{ margin-left: 20px; }
            }
        }
    }
}