{% if  portal.current_page != 'csat_survey' %}
	<footer class="footer rounded-6">
		<nav class="footer-links page no-padding">
			{% if portal.tabs.size > 0 %}
					{% for tab in portal.tabs %}
						<a href="{{tab.url}}" class="{% if tab.tab_type == current_tab %}active{% endif %}">{{ tab.label }}</a>
					{% endfor %}
			{% endif %}
			{{ portal | link_to_privacy_policy }}
		</nav>
	</footer>
{% endif %}

<script>
	jQuery(document).ready(function(){
		if(jQuery('.header-wrapper').hasClass('solutions')){

			if(jQuery('h2.page_category_home_36000115330').length > 0){
				jQuery('body').addClass('solutions comprar-bem');
			}

			if(jQuery('h2.page_category_home_36000116024').length > 0){
				jQuery('body').addClass('solutions vender-mais');
			}

			if(jQuery('h2.page_category_home_36000116002').length > 0){
				jQuery('body').addClass('solutions administrar-com-eficiencia');
			}

			if(jQuery('h2.page_category_home_36000116028').length > 0){
				jQuery('body').addClass('solutions perguntas-frequentes');
			}
		}


		if(jQuery('.header-wrapper').hasClass('tickets')){
			fixTicketHtml();
			setTimeout(function(){
				jQuery('#ticket-filters .dropdown-menu li').first().find('a').trigger('click');
			}, 1000);

			setInterval(fixTicketHtml, 3000);
		}

		jQuery('.sidetabs + .sidetabs-content .article-list').first().addClass('active');
		jQuery('.sidetabs .sidetabs-item').first().addClass('active');
		jQuery('.sidetabs .sidetabs-item').click(function(){
			jQuery('.sidetabs .sidetabs-item, .sidetabs + .sidetabs-content .article-list').removeClass('active');
			jQuery( jQuery(this).data('target') ).addClass('active');
			jQuery(this).addClass('active');
		})

		jQuery('.sidetabs + .sidetabs-content li a').click(function(e){
			e.preventDefault();
		});

		jQuery('.sidetabs + .sidetabs-content li').click(function(e){
			e.preventDefault();

			if(jQuery(this).hasClass('active')){
				jQuery(this).removeClass('active');
			}else{
				jQuery(this).addClass('active');
			}
		});
	});

	function fixTicketHtml(){
		jQuery('#ticket-list .c-ticket-row').each(function(){
			if(!jQuery(this).hasClass('fixed')){
				jQuery(this).find('.ticket-brief').append(jQuery(this).find('span.label-small').clone().wrap('<div>').parent().html());
				jQuery(this).find('span.label-small').first().remove();
				jQuery(this).addClass('fixed');
			}
		});
	}
</script>