{% if  portal.current_page != 'csat_survey' %}
	<footer class="footer rounded-6">
		<nav class="footer-links page no-padding">
			{% if portal.tabs.size > 0 %}
					{% for tab in portal.tabs %}
						<a href="{{tab.url}}" class="{% if tab.tab_type == current_tab %}active{% endif %}">{{ tab.label }}</a>
					{% endfor %}
			{% endif %}
			{{ portal | link_to_privacy_policy }}
		</nav>
	</footer>
{% endif %}

<script>
	jQuery(document).ready(function(){
		if(jQuery('.header-wrapper').hasClass('solutions')){

			if(jQuery('h2.page_category_home_36000115330').length > 0){
				jQuery('body').addClass('solutions comprar-bem');
			}

			if(jQuery('h2.page_category_home_36000116024').length > 0){
				jQuery('body').addClass('solutions vender-mais');
			}

			if(jQuery('h2.page_category_home_36000116002').length > 0){
				jQuery('body').addClass('solutions administrar-com-eficiencia');
			}
		}
	});
</script>