<section class="main content rounded-6 min-height-on-desktop fc-solution-home" id="solutions-home">
    {% for category in portal.solution_categories %}
        {% if category.folders_count > 0 %}
            <div class="cs-s">
                <h3 class="heading no-detail">
                    {{ category.name | link_to: category.url }}
                </h3>
                <p> {{ category.description }} </p>
                <div class="cs-g-c">
                    {% for folder in category.folders %}
                        <section class="cs-g article-list">
                            <div class="list-lead">
                                <img src="http://farmarcas.com.br/radar/imagens_freshdesk/icon_folder_{{ folder.id }}.png" alt="">
                                <a href="{{ folder.url }}">
                                    <div class="solution-folder-title">{{ folder.name }}</div>
                                    <div class="solution-folder-description">{{ folder.description }}</div>
                                </a>
                            </div>
                        </section>
                    {% else %}
                        {{ portal | filler_for_solutions }}
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    {% endfor %}
</section>