@import url("https://fonts.googleapis.com/css?family=Roboto:100,300");
.c-wrapper {
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
  border: 0;
}

.cs-s h3 {
  font-size: 20px;
  border-bottom: solid 0px #FA4718;
  border-top: 0;
  width: 100%;
}

.heading {
  font-family: Roboto,Helvetica,sans-serif;
  font-weight: normal;
  color: #252629;
}

.help-center-sc {
  background-color: #fff;
  border: solid 0px #FA4718;
  border-radius: 0;
  padding: 0px 0;
}

.cs-s h3 {
  font-size: 50px;
  border-bottom: solid 0px #FA4718;
  border-top: 0;
  width: 100%;
}

.cs-s h3 a {
  color: #fa4718;
}

.cs-s h3 a:hover {
  color: #fa4718;
}

.content h2 {
  font-weight: 600;
  font-size: 30px;
}

.fc-solution-category h2, .fc-discussion-category h2 {
  font-weight: 600;
  border-bottom: 0px solid #FA4718;
}

body {
  margin: 0;
  font-family: Roboto,Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 21.875px;
  color: #4b5965;
  background-color: #ffffff;
  background-image: none;
}

a, .a-link {
  color: #4b596c;
  text-decoration: none;
}

a:hover, .a-link:hover {
  color: #fa4718;
  text-decoration: none;
}

.ticket-list li {
  margin-bottom: 15px;
}

.heading {
  font-family: Roboto,Helvetica,sans-serif;
  font-weight: normal;
  color: #4c5a66;
}

li.article-item:before {
  content: "\f22b";
}

.ficon-solution-article-new:before, .article-list ul li:before, .search-results-list li.article-item:before, ul.ui-autocomplete li.article-item:before, .ficon-forum-new:before, .topic-list ul li:before, .search-results-list li.topic-item:before, ul.ui-autocomplete li.topic-item:before, .suggested_results .icon-topic-list:before, .suggested_results .topic-list li:before, .topic-list .suggested_results li:before, .suggested_results li.topic-item:before, .ficon-ticket-new:before, .search-results-list li.ticket-item:before, ul.ui-autocomplete li.ticket-item:before {
  color: #bcbfc1;
}

.ellipsis a {
  font-size: 16px;
  line-height: 1.6;
}

.links-inherit a, .list-lead a {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.2px;
  font-family: Roboto,Helvetica,sans-serif;
  color: #4c5a66;
}

.sidebar {
  background-color: #f7f7f7;
}

c-row.c-article-row .description-text, .c-row.c-article-row .help-text {
  margin-left: 36px;
  font-size: 13px;
}

.c-row.c-ticket-row .description-text, .c-row.c-ticket-row .help-text {
  margin-left: 46px;
  font-size: 13px;
}

.cs-s h3 {
  font-size: 30px;
  font-weight: 600;
}

.article-body p, .article-body li, .article-body div {
  font-size: 15px;
  line-height: 25px;
  margin: 0;
}

.fc-article-show p {
  color: #777e82;
}

.page-tabs {
  background-color: #303033;
  color: #fa4718;
  line-height: 54px;
}

.page-tabs .nav-link a.active {
  border: 0px;
}

.banner {
  padding: 0px;
  background-color: #252629;
  color: #919192;
  border: 0px solid #ebeef0;
}

.banner-nav a {
  color: #919192;
}

.banner-nav a:hover {
  color: #fa4718;
  text-decoration: none;
}

.help-center-sc {
  background-color: #f7f7f7;
  padding: 15px 0 15px 0;
}

.banner-nav .welcome {
  margin-top: -7px;
  color: #6f7c87;
  font-sixe: 14px;
  padding-bottom: 10px;
}

.main-content {
  padding-bottom: 25px;
  position: relative;
}

.main-content h3 {
  display: inline-block;
  margin: 0px 0px 0px 20px;
  font-size: 42px;
  padding-top: 10px;
  line-height: 48px;
}

.main-content h5 {
  display: inline-block;
  position: absolute;
  top: 65px;
  left: 91px;
}

.faq_block.smaller_cards a {
  width: 344.66667px;
  min-height: 138px;
  transition: box-shadow .3s ease,-webkit-transform .3s ease;
  -webkit-transition: -webkit-transform .3s ease,-webkit-box-shadow .3s ease;
  transition: -webkit-transform .3s ease,-webkit-box-shadow .3s ease;
  transition: transform .3s ease,box-shadow .3s ease;
  transition: transform .3s ease,box-shadow .3s ease,-webkit-transform .3s ease,-webkit-box-shadow .3s ease;
  transition: transform .3s ease,box-shadow .3s ease,-webkit-transform .3s ease;
  cursor: pointer;
}

.faq_block.smaller_cards a:hover {
  text-decoration: none;
  -webkit-transform: translateY(-6px);
          transform: translateY(-6px);
  -webkit-box-shadow: 0 7px 10px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 7px 10px 0 rgba(0, 0, 0, 0.1);
}

.faq_block.smaller_cards .category_cover a:nth-child(3n+3) {
  margin-right: 0px;
}

.faq_block h3 {
  font-size: 42px;
  font-weight: 600;
  padding-top: 20px;
  text-align: center;
  margin: 120px 0px 0px;
  line-height: 48px;
  padding-bottom: 5px;
  color: #4d4d4d;
}

.faq_block a {
  display: block;
  float: left;
  width: 344.66667px;
  margin-right: 28px;
  margin-bottom: 31px;
  font-size: 18px;
  line-height: 24px;
  padding: 20px 0px;
  border-radius: 5px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
  color: #4d4d4d;
  min-height: 138px;
  transition: box-shadow .3s ease,-webkit-transform .3s ease;
  -webkit-transition: -webkit-transform .3s ease,-webkit-box-shadow .3s ease;
  transition: -webkit-transform .3s ease,-webkit-box-shadow .3s ease;
  transition: transform .3s ease,box-shadow .3s ease;
  transition: transform .3s ease,box-shadow .3s ease,-webkit-transform .3s ease,-webkit-box-shadow .3s ease;
  transition: transform .3s ease,box-shadow .3s ease,-webkit-transform .3s ease;
  cursor: pointer;
}

.faq_block a:hover {
  text-decoration: none;
  -webkit-transform: translateY(-6px);
          transform: translateY(-6px);
  -webkit-box-shadow: 0 7px 10px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 7px 10px 0 rgba(0, 0, 0, 0.1);
}

.faq_block p {
  text-align: center;
  margin-bottom: 40px;
  font-size: 16px;
  line-height: 28px;
}

.faq_block a {
  position: relative;
}

.faq_block a:hover {
  text-decoration: none;
}

.faq_block a b, .faq_block a span {
  display: block;
  width: 76%;
  margin-left: 18%;
}

.faq_block a b {
  font-size: 20px;
  line-height: 14px;
  padding-left: 0px;
  padding-bottom: 2px;
  line-height: 28px;
  font-weight: 600;
}

.faq_block a span {
  font-size: 14px;
  line-height: 22px;
  color: #666;
}

.faq_block a:before {
  content: '';
  display: block;
  width: 36px;
  height: 36px;
  position: absolute;
  left: 14px;
  margin-top: 0px;
}

.faq_block a.GettingStartedwithFreshdesk:before {
  background: url("https://company-assets.freshworks.com/freshdesk-portal/getting-started3x.png") no-repeat center center/36px 36px;
}

.faq_block a.ConfiguringAutomations:before {
  background: url("https://company-assets.freshworks.com/freshdesk-portal/automations3x.png") no-repeat center center/36px 36px;
}

.faq_block a.CustomerPortalSetup:before {
  background: url("https://company-assets.freshworks.com/freshdesk-portal/setup-portal@3x.png") no-repeat center center/36px 36px;
}

.faq_block a.LiveChat:before {
  background: url("https://company-assets.freshworks.com/freshdesk-portal/live-chat@3x.png") no-repeat center center/36px 36px;
}

.faq_block a.PhoneChannel:before {
  background: url("https://company-assets.freshworks.com/freshdesk-portal/phone@3x.png") no-repeat center center/36px 36px;
}

.faq_block a.Apps:before {
  background: url("https://company-assets.freshworks.com/freshdesk-portal/apps3x.png") no-repeat center center/36px 36px;
}

.faq_block a.ReportingandAnalytics:before {
  background: url("https://company-assets.freshworks.com/freshdesk-portal/reporting@3x.png") no-repeat center center/36px 36px;
}

.faq_block a.SocialChannel:before {
  background: url("https://company-assets.freshworks.com/freshdesk-portal/social@3x.png") no-repeat center center/36px 36px;
}

.faq_block a.AdvancedConfigurations:before {
  background: url("https://company-assets.freshworks.com/freshdesk-portal/advanced-config3x.png") no-repeat center center/36px 36px;
}

.faq_block a.FreshdeskAPI:before {
  background: url("https://company-assets.freshworks.com/freshdesk-portal/custom-ticket-view.svg") no-repeat center center/36px 36px;
}

.faq_block a.FreshdeskMobileApp:before {
  background: url("https://company-assets.freshworks.com/freshdesk-portal/custom-ticket-view.svg") no-repeat center center/36px 36px;
}

.faq_block a.FAQs:before {
  background: url("https://company-assets.freshworks.com/freshdesk-portal/custom-ticket-view.svg") no-repeat center center/36px 36px;
}

.faq_block a.EmailChannel:before {
  background: url("https://company-assets.freshworks.com/freshdesk-portal/email3x.png") no-repeat center center/36px 36px;
}

.faq_block a.FreshdeskAgentGuide:before {
  background: url("https://company-assets.freshworks.com/freshdesk-portal/agent-guide%402x.png") no-repeat center center/36px 36px;
}

.faq_block a.TheFreshdeskMintExperience:before {
  background: url("https://company-assets.freshworks.com/freshdesk-portal/mint-experience%402x.png") no-repeat center center/36px 36px;
}

.faq_block a.SecurityandDataProtection:before {
  background: url("https://company-assets.freshworks.com/freshdesk-portal/security%402x.png") no-repeat center center/36px 36px;
}

.faq_block a.EndUserExperience:before {
  background: url("https://company-assets.freshworks.com/freshdesk-portal/fd-ux%402x.png") no-repeat center center/36px 36px;
}

.faq_block a.IntegrationsinFreshdesk:before {
  background: url("https://company-assets.freshworks.com/freshdesk-portal/fd-ux%402x.png") no-repeat center center/36px 36px;
}

.faq_block a.TheFreshdeskMobileApp:before {
  background: url("https://company-assets.freshworks.com/freshdesk-portal/mobile%402x.png") no-repeat center center/36px 36px;
}

.faq_block a.FreshdeskAPI:before {
  background: url("https://company-assets.freshworks.com/freshdesk-portal/api%402x.png") no-repeat center center/36px 36px;
}

.faq_block a.FreshThemesGuide:before {
  background: url("https://company-assets.freshworks.com/freshdesk-portal/freshthemes%402x.png") no-repeat center center/36px 36px;
}

.faq_block a.TipsTricks:before {
  background: url("https://company-assets.freshworks.com/freshdesk-portal/fd-ux%402x.png") no-repeat center center/36px 36px;
}

.faq_block .boxing a:nth-child(3n+3) {
  margin-right: 0px;
}

.faq_block .linktoall_faq {
  margin-bottom: 60px;
  margin-top: 46px;
  text-align: center;
}

.faq_block .linktoall_faq a {
  border-radius: 4px;
  color: #25c16f;
  float: none;
  clear: both;
  margin: 0px auto;
  padding: 11px 46px;
  width: auto;
  font-size: 16px;
  border-radius: 3px;
  font-weight: bold;
  border: solid 1px #25c16f;
  display: inline-block;
  min-height: 44px;
  letter-spacing: 1.1px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.faq_block .linktoall_faq a:hover {
  background-color: rgba(37, 193, 111, 0.2);
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-box-shadow: none;
          box-shadow: none;
}

.faq_block .linktoall_faq a:before {
  display: none;
}

.quick-link-wrapper {
  width: 100%;
  margin: 0 auto;
}

.quick-link-wrapper ul {
  margin: 0px;
}

.quick-link-wrapper ul li {
  width: 517px;
  float: left;
  list-style: none;
  padding: 40px 0 60px;
  border-radius: 5px;
  text-align: center;
  background-color: #ffffff;
  margin: 96px 28px 0px 0px;
  -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
  color: #4d4d4d;
}

.quick-link-wrapper ul li h2 {
  line-height: 38px;
  font-size: 32px;
  font-weight: 600;
}

.quick-link-wrapper ul li p {
  width: 70%;
  margin: 0px auto;
  font-size: 16px;
  line-height: 28px;
}

.quick-link-wrapper ul li span {
  display: inline-block;
  margin-top: 20px;
}

.quick-link-wrapper ul li:last-child {
  margin-right: 0px;
}

.quick-link-lister {
  list-style: none;
  list-style-image: none;
  padding: 0;
  margin: 0;
}

.quick-link-lister li {
  display: inline-block;
  width: 24.8%;
  text-align: center;
  vertical-align: top;
  padding: 30px 20px;
}

.quick-link-lister li a.quick-link-widgets {
  color: #333;
  text-decoration: none;
}

.quick-link-lister li a.quick-link-widgets h3 {
  color: #333;
  font-size: 24px;
  font-weight: 400;
  margin-top: 5px;
}

.quick-link-lister li a.quick-link-widgets h5 {
  font-size: 14px;
  color: #333;
  font-weight: 400;
  text-align: center;
  margin-top: 3px;
}

.quick-link-lister li:hover a h3 {
  color: #1ea78b;
}

.content, .content-form, .content-light {
  padding: 10px 0px;
}

@media screen and (max-width: 1024px) {
  .content, .content-form, .content-light {
    padding: 10px 30px;
  }
}

.help-center-sc .hc-search .hc-search-input {
  float: right;
  width: 88%;
}

.help-center-sc .hc-search .hc-search-button {
  margin-left: 500px;
}

.help-center-sc .hc-search .hc-search-input input.special {
  padding: 0px 0px 3px 10px;
}

.agent-details .agent_name_text {
  padding-top: 10px;
  font-size: 35px;
  font-weight: 600;
}

.c-wrapper {
  background-color: transparent !important;
}

.header-wrapper {
  background-image: url("http://farmarcas.com.br/radar/imagens_freshdesk/header_bg.png");
  background-size: cover;
  background-position: center;
}

.banner {
  background-color: transparent;
  border: none;
}

.banner-wrapper {
  padding: 20px .625rem;
}

.page-tabs {
  background-color: transparent;
}

.page-tabs .nav-link a {
  color: white;
  font-weight: 100;
  text-align: left;
}

.page-tabs .nav-link a.active {
  font-weight: 300;
  padding: 6px;
}

.heading {
  padding-bottom: 10px;
  position: relative;
  color: #0b5078;
}

.heading:not(.no-detail):after {
  content: '';
  position: absolute;
  width: 57px;
  border-radius: 3px;
  height: 5px;
  background: -webkit-gradient(linear, left top, right top, from(#ff8900), to(#fe4215));
  background: linear-gradient(to right, #ff8900, #fe4215);
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 0px;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.heading.left:after {
  left: 30px;
}

.heading:hover:after {
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

.help-center {
  padding: 0px;
  width: 100%;
  background: transparent;
}

.help-center .hc-search {
  width: 100%;
}

.help-center .hc-search-form {
  border: none;
}

.help-center .hc-search-c {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 769px) {
  .help-center .hc-search-c {
    padding: 70px .625rem;
  }
}

.help-center .hc-search h2.heading {
  color: white;
}

.help-center .hc-search-input input {
  font-size: 18px;
  height: 80px;
}

.home .hc-search-button .btn {
  height: 80px;
  border-radius: 0 5px 5px 0;
}

.home .hc-search-button .btn .mobile-icon-search {
  width: 28px;
  height: 28px;
}

.hc-search-button .btn {
  border-radius: 0 3px 3px 0;
  background: -webkit-gradient(linear, left top, right top, from(#ff8900), to(#fe4215)) !important;
  background: linear-gradient(to right, #ff8900, #fe4215) !important;
}

.hc-search-button .btn .mobile-icon-search {
  display: inline-block;
  width: 18px;
  height: 18px;
  background-image: url("http://farmarcas.com.br/radar/imagens_freshdesk/icon_search.png");
  background-size: cover;
}

.hc-search-button .btn .mobile-icon-search:before {
  display: none;
}

.header-wrapper:not(.home) {
  background: -webkit-gradient(linear, left top, right top, from(#07274e), to(#095c68));
  background: linear-gradient(to right, #07274e, #095c68);
}

.header-wrapper:not(.home) .help-center-sc {
  background-color: white;
}

.help-center-sc .hc-search {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.help-center-sc .hc-search-c {
  width: 50%;
}

.help-center-sc .hc-search input {
  border-radius: 5px;
}

.help-center-sc .hc-search .btn-primary {
  border-radius: 0 5px 5px 0;
}

.help-center-sc .hc-search input, .help-center-sc .hc-search .btn-primary {
  border: 1px solid #f36500;
}

.breadcrumb {
  margin: 0;
  font-weight: 300;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#solutions-index-home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#solutions-index-home .cs-s {
  padding: 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  margin: 0;
  max-width: 100%;
  display: none;
}

#solutions-index-home .cs-s:nth-child(-n+4) {
  display: block;
}

#solutions-index-home .cs-s:nth-child(n+4) h3 {
  width: initial;
  display: inline-block;
  margin: 0 auto;
}

#solutions-index-home .cs-s:nth-child(-n+3) .solution {
  min-height: 250px;
}

@media screen and (min-width: 769px) {
  #solutions-index-home .cs-s:nth-child(-n+3) {
    max-width: 33%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33%;
            flex: 0 0 33%;
  }
}

#solutions-index-home .cs-s .solution {
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 20px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  min-height: 100px;
  background-size: cover;
  background-position: center;
}

#solutions-index-home .cs-s .solution.category_36000115330 {
  background-image: url(http://farmarcas.com.br/radar/imagens_freshdesk/card_1_bg.png);
}

#solutions-index-home .cs-s .solution.category_36000116002 {
  background-image: url(http://farmarcas.com.br/radar/imagens_freshdesk/card_2_bg.png);
}

#solutions-index-home .cs-s .solution.category_36000116024 {
  background-image: url(http://farmarcas.com.br/radar/imagens_freshdesk/card_3_bg.png);
}

#solutions-index-home .cs-s .solution.category_36000116028 {
  background-image: url(http://farmarcas.com.br/radar/imagens_freshdesk/card_4_bg.png);
}

#solutions-index-home .cs-s .solution:hover .heading:after {
  -webkit-filter: invert(100%) brightness(0.5);
          filter: invert(100%) brightness(0.5);
}

#solutions-index-home .cs-s h3 a {
  color: white;
  font-weight: 100;
  font-size: 25px;
}

.principais-conteudos {
  background-color: #fff;
}

.principais-conteudos-header {
  padding: 10px 15px;
}

.principais-conteudos-header h3 {
  color: #0b5078;
  font-size: 25px;
}

.principais-conteudos-list {
  min-height: 430px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.principais-conteudos-item {
  border-radius: 8px;
  background-color: #e7e7e7;
  min-height: 100%;
  min-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-weight: 700;
  padding: 20px;
  font-size: 17px;
  color: black;
  border-bottom: 5px solid transparent;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.principais-conteudos-item:hover {
  color: black;
}

.principais-conteudos-item-wrapper {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  max-width: 25%;
  padding: 13px 13px 8px 13px;
  min-height: 100%;
  min-height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.principais-conteudos-item-wrapper:after {
  content: '';
  width: 7px;
  height: 12px;
  background: url(http://farmarcas.com.br/radar/imagens_freshdesk/icon-arrow-right.png);
  position: absolute;
  bottom: 25px;
  right: 25px;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transition: all .3s;
  transition: all .3s;
}

.principais-conteudos-item-wrapper:hover .principais-conteudos-item {
  border-bottom-color: #d6d6d6;
}

.principais-conteudos-item-wrapper:hover:after {
  -webkit-filter: none;
          filter: none;
}

@media screen and (max-width: 768px) {
  .principais-conteudos-item-wrapper {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .principais-conteudos-item-wrapper {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33%;
            flex: 0 0 33%;
    max-width: 33%;
  }
}

#solutions-home .heading, #solutions-home .heading + p {
  text-align: center;
}

#solutions-home .cs-g-c {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#solutions-home .article-list {
  min-width: 33%;
  max-width: 50%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: auto;
  text-align: center;
  padding: 15px;
}

#solutions-home .article-list .list-lead {
  -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.solutions.comprar-bem .page-tabs {
  background-color: #ff660a;
}

.solutions.administrar-com-eficiencia .page-tabs {
  background-color: #135779;
}

.solutions.vender-mais .page-tabs {
  background-color: #1d55c0;
}

.solutions.perguntas-frequentes .page-tabs {
  background-color: #1d55c0;
}

.fc-solution-category .cs-g.article-list {
  width: 100%;
  margin-bottom: 30px;
}

.fc-solution-category .cs-g.article-list ul {
  background: #ececec94;
  border-radius: 8px;
  padding: 15px 20px;
}

.fc-solution-category .cs-g.article-list ul li {
  padding: 12px 5px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 0;
}

.fc-solution-category .cs-g.article-list ul li:last-child {
  border-bottom: none;
  padding-bottom: 0px;
}

.fc-solution-category .cs-g.article-list ul li:first-child {
  padding-top: 0px;
}

.fc-solution-category .cs-g.article-list ul li:before {
  display: none;
}

.fc-solution-category .cs-g.article-list .article-title {
  font-weight: 500;
  color: black !important;
  font-size: 18px;
}

.fc-solution-category .cs-g.article-list .article-author p {
  font-weight: 300;
  margin-bottom: 0;
}

.solutions-category-header {
  padding-bottom: 45px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.102), rgba(0, 0, 0, 0.031), transparent 30px);
  border-radius: 0 0 7px 8px;
  margin-bottom: 20px;
}

.list-lead {
  font-size: 20px;
  font-weight: 500;
  color: #fe5e0c;
}

.list-lead img {
  margin-top: -3px;
}

.ticket-toolbar.pull-right {
  display: none;
}

#ticket-toolbar {
  position: relative;
  overflow: hidden;
  border: 1px solid #d4d4d4;
  border-radius: 8px 8px 0 0;
  border-bottom: 0;
}

#ticket-toolbar .list-lead.dropdown-toggle {
  display: none;
}

#ticket-toolbar #ticket-filters .dropdown-menu {
  position: relative;
  -webkit-box-shadow: none;
          box-shadow: none;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  border: none;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.102), rgba(0, 0, 0, 0.031), rgba(0, 0, 0, 0) 30px);
  border-radius: 0 0 7px 8px;
}

#ticket-toolbar #ticket-filters .dropdown-menu li {
  padding: 15px 10px;
}

#ticket-toolbar #ticket-filters .dropdown-menu li.selected {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.102), rgba(0, 0, 0, 0.031), rgba(0, 0, 0, 0.06) 30px);
}

#ticket-toolbar #ticket-filters .dropdown-menu li.selected a {
  font-weight: 500;
}

#ticket-toolbar #ticket-filters .dropdown-menu li a {
  color: #666;
  font-weight: 300;
  background: transparent !important;
}

#ticket-toolbar #ticket-sort {
  position: absolute;
  width: 190px;
  right: 0;
  top: 18px;
  z-index: 1000;
}

#ticket-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #d4d4d4;
  border-top: 0;
  padding: 15px;
  border-radius: 0 0 8px 8px;
}

#ticket-list .c-list {
  margin: 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(33.3% - 30px);
          flex: 0 0 calc(33.3% - 30px);
  max-width: calc(33.3% - 30px);
  background: #e7e7e7;
  border-radius: 8px;
}

.sidetabs {
  width: 25%;
  float: left;
  margin-top: 6px;
}

.sidetabs-item {
  padding: 20px 15px;
  font-weight: 300;
  cursor: pointer;
  font-size: 16px;
}

.sidetabs-item.active {
  background: #e7e7e7;
  font-weight: 500;
}

.sidetabs + .sidetabs-content {
  width: 75%;
  float: right;
  padding-left: 40px;
  border-left: 1px solid #e7e7e7;
}

.sidetabs + .sidetabs-content .article-list {
  display: none;
}

.sidetabs + .sidetabs-content .article-list.active {
  display: block;
}

.sidetabs + .sidetabs-content .article-title {
  position: relative;
  display: block;
}

.sidetabs + .sidetabs-content .article-title:after {
  content: '';
  position: absolute;
  right: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 16px;
  height: 16px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("http://farmarcas.com.br/radar/imagens_freshdesk/icon_plus.png");
}

.sidetabs + .sidetabs-content .article-content {
  white-space: normal;
  margin: 0;
  font-weight: 300;
  color: #676767;
  max-height: 0px;
  overflow: hidden;
  -webkit-transition: max-height .8s;
  transition: max-height .8s;
}

.sidetabs + .sidetabs-content li.active .article-title:after {
  background-image: url("http://farmarcas.com.br/radar/imagens_freshdesk/icon_less.png");
}

.sidetabs + .sidetabs-content li.active .article-content {
  max-height: 600px;
  margin: 10px 20px;
}
/*# sourceMappingURL=style.css.map */